@import "../node_modules/modern-normalize//modern-normalize.css";
@import "./fonts/fonts.css";

:root {
  font-family: "Noto Sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #171717;
  background: linear-gradient(146deg, #f9fafb 0%, #d2d6db 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
